.hero__content {
  margin-top: 150px;
  line-height: 3ch;
  margin-bottom: 30px;
}
.hero__content h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.hero__content p {
  color: white;
  font-family: var(--font-name);
}

.header_main::after,
.header_main::before,
.section::after,
.section::before {
  content: "";

  position: absolute;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
}
.hero__content button {
  color: black;
  background-color: white;
  font-size: 18px;
}
.header_main::after {
  left: -200px;
}
